.DS_Store
__pycache__

Model/dataset/**/*.mp4
Model/dataset.csv

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Fresh build directory
_fresh/
# npm dependencies
node_modules/
